/*! jQuery UI - v1.12.1 - 2017-10-04
* http://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css, theme.cssx`

* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:0}.ui-menu .ui-menu{position:absolute}.ui-menu .ui-menu-item{margin:0;cursor:pointer;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")}.ui-menu .ui-menu-item-wrapper{position:relative;padding:3px 1em 3px .4em}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px}.ui-menu-icons{position:relative}.ui-menu-icons .ui-menu-item-wrapper{padding-left:2em}.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0}.ui-menu .ui-menu-icon{left:auto;right:0}.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget.ui-widget-content{border:1px solid #c5c5c5}.ui-widget-content{border:1px solid #ddd;background:#fff;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #ddd;background:#e9e9e9;color:#333;font-weight:bold}.ui-widget-header a{color:#333}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button,.ui-button{color:#454545;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{border:1px solid #ccc;background:#ededed;font-weight:normal;color:#2b2b2b}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{color:#2b2b2b;text-decoration:none}.ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214)}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#fff}.ui-icon-background,.ui-state-active .ui-icon-background{border:#003eff;background-color:#fff}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620}.ui-state-checked{border:1px solid #dad55e;background:#fffa90}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("images/ui-icons_444444_256x240.png")}.ui-widget-header .ui-icon{background-image:url("images/ui-icons_444444_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url("images/ui-icons_555555_256x240.png")}.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url("images/ui-icons_ffffff_256x240.png")}.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url("images/ui-icons_777620_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("images/ui-icons_cc0000_256x240.png")}.ui-button .ui-icon{background-image:url("images/ui-icons_777777_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-caret-1-n{background-position:0 0}.ui-icon-caret-1-ne{background-position:-16px 0}.ui-icon-caret-1-e{background-position:-32px 0}.ui-icon-caret-1-se{background-position:-48px 0}.ui-icon-caret-1-s{background-position:-65px 0}.ui-icon-caret-1-sw{background-position:-80px 0}.ui-icon-caret-1-w{background-position:-96px 0}.ui-icon-caret-1-nw{background-position:-112px 0}.ui-icon-caret-2-n-s{background-position:-128px 0}.ui-icon-caret-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-65px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-65px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:1px -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px}.ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{-webkit-box-shadow:0 0 5px #666;box-shadow:0 0 5px #666}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, .patFunc {margin: 0; padding: 0; border: 0; font-size: 63%;font: inherit; vertical-align: baseline;text-decoration:none; border:none; clear:none;}
html {position:relative; min-height: 100%;}
body {font-family:"Open Sans", "Helvetica Neue", Verdana, sans-serif; padding:0; background:#fff;  }
em {font-style:italic;}
.hidden {display:none;}
 a {text-decoration:none;}
 strong {font-weight:bold;}
 h1, h2, h3 {font-weight:normal;}
 ol {padding-left:2em; padding-bottom:10px;}
 #skip {position:absolute; left:-99999px;}
 #skip:focus {position:static;}
 header {position:relative; padding:0 0 10px; margin-bottom: 20px; text-align:center; background:#4D6684; color:#fff;}
 #head-nav {
padding:0 2%;
background: #3d3d3d;

}
 #multi-search { text-align:left; float:left;
padding-bottom: 2px;
}
#multi-search label {position:relative; z-index:500;}
#dbpage-query { position:relative; z-index: 500; width:10em; padding:0 8px; border:1px solid #ccc; border-radius:4px; margin-left:1em; height:14px;  -webkit-transition: width .5  s;}
.form-emphasis { height:2em !important; width:18em !important; font-size: 1.2em; transition: width .4s;-webkit-transition: width .4s;}
#form-remainder { position:absolute; z-index:99; left:1em; background: #3d3d3d; margin-top:-1.4em; width:80%; max-width: 500px; padding:3em; border-radius:0 0 8px 8px; -webkit-box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);}
#dbpage-query-submit {margin-top:8px; padding: 4px; font-size:1em; cursor:pointer; border-radius:4px;  background:#F5F5F5;position:relative; z-index:2000;}
#dbpage-query-submit:hover {background:#ccc;}
#main #multi-search {margin: 10px auto 0;  width: 80%;  max-width: 500px; border-top:1px solid #ccc; float:none; padding-top:20px;}
#main #form-remainder {background: #fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; position:static;}
#main #form-closer {display:none;}
#main #dbpage-query.form-emphasis {width:14em !important;}
#main #dbpage-query-submit {display:inline;}
#search-exp {margin-left:2em; box-shadow: inset 0px 1px 10px -3px #000000; padding:.2em .5em;}

#form-closer {position:absolute; bottom:4px; right:4px; cursor: pointer;}
.ui-menu {border:1px solid #ccc; border-radius: 0 0 4px 4px;}
.ui-menu-item:hover, .ui-menu-item:focus, .ui-state-focus, .ui-state-active {background:#4D6684 !important; color:#fff; border:none;}


#head-nav ul {text-align: right; }
#head-nav ul, .headnav {padding: 4px 0;} /* this gets tricky... */
.headnav {display:inline; border-right:1px solid #ccc;  width:4em; }
.headnav:last-of-type {border:none;}
.headnav a {display:inline-block; width:100%; width:4em; text-align: center;}

 .headnav:hover {background:#4D6684;}
.headnav a:link, .headnav a:visited {color:#fff;}
 h1 { clear:both; font-size:2.1em;  width:50%; padding-bottom:8px; border-bottom: 1px solid #ccc; margin:0 auto;}
 #tagline {font-size:1.5em;}
 #title-query {display:block; font-size:.8em;}
 
 #pubfinder {position:absolute; right:50px; bottom:10px;}
 #pubfinder a:link, #pubfinder a:visited {color:#fff; border-bottom:1px solid #fff; font-size:1em; }
 #pubfinder a:hover, #pubfinder a:focus {text-decoration:none;}
 #main { width:50%; margin-left:25%; float:left; padding-right:18px; min-height:680px; margin-bottom:200px; position:relative;}
 h1 a:link, h1 a:visited {color:#fff;}
 #lr-sign-in label {font-size:1.3em;}
 #main nav {font-size:1.2em; display:table;}
 .proxy-dialog {position:fixed; z-index: 4000; width:400px; left:50%; margin-left: -200px; background: #fff; border: 4px solid #83AA30; border-radius:4px; padding: 20px; text-align:center;}
  #primary-nav { display:inline;}
 #primary-nav li {display:inline; float:left;}
 #primary-nav li:last-child {margin-left:8px;}
.active-page {background:#4D6684; padding:4px 1em 5px; border-radius: 4px 4px 0 0;}
.alternative {background:#F5F5F5; padding: 4px 1em 4px; border-radius: 4px 4px 0 0;  border: 1px solid #ccc; border-bottom: none;}

  .active-page a:link, .active-page a:visited {color:#fff; font-weight:bold;}
 .active-page a:hover, .active-page a:focus {color:#fff; cursor: default;}
 .alternative a:link, .alternative a:visited {color:#4D6684; }
 .alternative a:hover, .alternative a:focus {color:#E74700;}
.lead {font-size:1.4em;}
#show-db-no {font-size:.8em; color:#fff; text-align: right; position:absolute; right:2em;}
.no-show {color:#fff !important;}
.category {margin-bottom: 1em;   box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);}
.category:first-of-type{clear:both;}
.category:first-of-type h2 {padding-top:10px;}
 .category h2, th.patFuncTitle {font-size:1.4em; text-transform:uppercase; background:#4D6684; color:#fff; padding-left:10px;}
 .fourothree h3 {font-size:1.3em; padding-left:10px;}
 
 .category ul, .special p, #hide-message {list-style-type:none; padding:10px; background:#fff; margin-top:0;}
 .special ol {background:#f5f5f5; padding-top:1em;}
 .special li {margin:1em;}
.fourothree ul {list-style-type: disc; padding-left:2em }
.fourothree li {margin-top:1.3em;}
.fourothree li:first-child {margin-top:0;}
.db-entry {margin-bottom:1.2em; list-style-type:none;}
.open-db-search, .search-one-db {float:right;}
.open-db-search, .search-btn {border:none; background:transparent; cursor: pointer;}
.search-one-db {clear:both; display:none;}
.search-one-db-l {position:absolute; left:-99999px;}


.db-name {font-family:Georgia, Palatino, serif; font-weight:bold; font-size:1em;}

.vendor {font-weight:normal; font-size:.9em;}
#main .trial .vendor::after {content:"trial"; font-size:.9em; background:#83AA30;  margin-left:1em; padding:1px 6px; color:#fff; font-weight:bold;}
.db-desc {font-size:.9em;}
 .db-name:link, .db-name:visited, #library-help-content a:link, #library-help-content a:visited, #auth-help a:link, #auth-help a:visited, .my-record-blurb a:link, #my-record-blurb a:visited, .special a:link, .special a:visited {color:#1499D3;}
.db-name:hover, .db-name:focus,  #library-help-content a:hover, #library-help-content a:focus, #auth-help a:hover, #auth-help a:focus, .my-record-blurb a:hover, #my-record-blurb a:focus, .special a:focus, .special a:hover {color:#E74700;}
#auth-help a, .my-record-blurb a {font-weight:bold;}
.format-list {margin-top:.5em; padding:0 !important; font-size:.8em; line-height:1em;}
.formats, .desc-format, .format-list {display:inline;}
.formats {padding:0 !important;}
.db-format {display:inline-block; padding: 0 .5em 0 0;  }
.db-format a {display:inline-block; padding:3px 6px; border-radius:4px;}
.desc-format:link, .desc-format:visited {background:#83AA30; color:#fff; font-weight:bold;}
.desc-format:hover, .desc-format:focus {background: #6a8a28;}
/* .format-list::before { content:"\A"; white-space:pre; } */
  #general .internal-links {display:none;} /* to keep initial view more tidy */
  .current-issue {margin-bottom: 1em; box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.75);}
.current-issue p {margin-bottom:10px;}
 #nav {position:absolute; left:50px; width:16%; margin-right:15px; background:#fbfbfb; border:1px solid #e3e3e3; border-radius:4px;}

  #main-nav {padding:0; margin-bottom:0;}
    #main-nav li {color:#4D6684; list-style-type:none; border-bottom:1px solid #ccc; }
    /*#main-nav li:first-of-type {padding-top:10px;}*/
  #main-nav li:last-of-type {border-bottom:none;}
  #main-nav a {display:block; width:90%; padding-left:10%; font-size:1em; line-height: 1.6em;}
  #main-nav a:link, #main-nav a:visited {color:#4D6684;}
  #main-nav a:hover, #main-nav a:focus, .current {color:#fff !important; background: #1499D3;}
  .current {cursor:default;}
  #lrRecHome a {font-size: 1.4em;}
  #lrRecHome a.current {background: #fbfbfb;color:#4D6684 !important;}
    #nav-label {padding:2px 0 2px 10px; font-size:1.5em; line-height:30px; cursor:pointer;}
    #main-nav.mobile #lrRecHome {display:none;}
    #main-nav.mobile li a {padding-left:34px;}

 .alpha-nav {text-transform:uppercase;}
 /*.top-pick {border:1px solid #ccc; margin-bottom:4px; border-radius:4px;}
 #general .top-pick {border:none;} */
 #subject-all {display:block;}
 .confirmationprompt {font-size:1.4em; color:#E74700 }
#renewfailmsg h2 {background:transparent; color:#fff; text-transform:none; font-size:110%; }
.my-record-blurb.expanded {position:relative; padding-bottom:2em;}
.my-record-blurb p {padding:10px 8%;}
.my-record-blurb h3 {padding:0 8%; font-weight:bold;}
.my-record-blurb ul {padding: 6px 12%; list-style-type: disc; background:#fff;}
.panel-toggle {cursor: pointer;}
.expanded {display:block !important; width:100%;  -webkit-transition: width .1s; transition: width .1s; float:none; }
.contracted {display:block !important; width:50%; float:right; margin-bottom:0; -webkit-transition: width .2s; transition: width .2s;}
.panel-toggle abbr {text-transform: none;  position:relative; }
/*abbr[title="Show"] {top:8px; text-shadow: 2px 2px #4D6684;}
abbr[title="Hide"] {bottom:10px; text-shadow: -2px -2px #4D6684;}*/
.close-blurb {float:left; background: transparent; color:#fff; border:none; font-weight:bold; cursor:pointer;}
.patFuncMark {text-align:center;}
#nav.fixed {position:fixed;}
/* #filters.scrolled {position:fixed;right:0;} */
#show-all, .panel-closer, #hide-page {background:#1499D3; padding:8px; color: #fff; font-weight:bold; border:none; border-radius:8px; display:inline-block; cursor: pointer; }
#show-all:hover, #show-all:focus, .panel-closer:hover, .panel-closer:focus, #hide-page:hover, #hide-page:focus {background:#4D6684; }
#alt-search {margin-top:1em;}
#check-search-query {font-weight:bold;}
.panel-closer {text-align:right;}
.panel-closer {position:absolute; right:4px; bottom:4px;}
#ga-note p {margin-bottom:1em;}
#ga-note .button {cursor:pointer; margin-bottom:10px;}
button.inactive {margin-bottom:10px; background:#eee; border:1px solid #ccc; margin-right:10px; font-weight:bold;}
#win-closer {display:block; margin:0 auto;}
 #filters, #new-windows, .gen-aside, #logout {width:15%; float:right; padding:0 0 8px 0; margin-right:50px;}
 #trial-dbs h2 {background:#E74700; color:#fff;}
 #trial-dbs ul {padding-left:8px;}
 #trial-dbs li {margin-bottom:.5em;}
 #trial-dbs .db-name {font-family: "Open Sans", "Helvetica Neue", Verdana, sans-serif; font-size:.9em;}
 #trial-dbs .vendor, #trial-dbs .db-desc, #trial-dbs .open-db-search, #trial-dbs dt, #trial-dbs dd {display:none;}
 .trial-desc-exp {border:none; background:transparent; color:#E74700; text-decoration: underline; padding:0; font-style: italic; }
 .trial-desc-exp:hover, .trial-desc-exp:focus {cursor: pointer;}
 #new-windows, #ga-notice, .proxy-button {font-size:.8em;}
 .patFuncArea {border:none;}
 .gen-aside { border:1px solid #ccc; border-radius:4px; margin-bottom:8px;}
 #ga-notice, .proxy-button {border:none;}
 aside h2, aside h3 {font-weight:bold;}
 aside h2, .patFuncHeaders {background:#F5F5F5; border-bottom:1px solid #ccc; padding-left:1em; margin-bottom:10px;}
 .patFuncHeaders {vertical-align:bottom;}
 .patFuncEntry td {padding-left:1.4em;}
 .proxy-button button {background: transparent; border:none;text-align:left; font-style:italic; cursor:pointer;}
  .proxy-button button:hover,  .proxy-button button:focus {text-decoration: underline;}
 #library-help-content, #patNameAddress div {padding-left:1em; font-size: .9em;}
 #library-help hr, #library-help-content hr { border: 0; height: 1px; margin:1em 0 1em 0; background: #ccc;}
 #library-help-content hr {margin-left:-1em;}
 #library-hours {width:90%; margin:8px auto;}
 #library-hours caption {text-align:left; font-weight:bold; font-size:1em;}
 #choose-library {text-align: center;}
 #choose-library button {background:#4D6684; border:none; color:#fff; font-weight:bold; padding:4px; border-radius:4px;}
 #choose-library button:hover {cursor: pointer; background: #3a526b;}
 #arc-help {text-align: center;margin-left:-1em;}
#auth-help {float:right; width:50%;}
#auth-help h2 {text-transform:uppercase; background:#4D6684; color:#fff; padding-left:4px; font-size:1.2em;}
 	#auth-help {float:right; width:50%;}
	#auth-help h2 {text-transform:uppercase; background:#4D6684; color:#fff; padding-left:4px; font-size:1.2em;}
/*	#main a:link, #main a:visited {color: #1499D3; font-weight:bold;}
	#main a:hover, #main a:focus {color:#E74700;}
	*/
	.explanation, #auth-help p {margin-bottom:1em;}
	#lr-sign-in { background:#F5F5F5; width:40%; float:left; padding:1em; border:1px solid #ccc; border-radius:4px;}
	#lr-sign-in input, #proxy-sign label {font-size:140%;}
	.errormessage {background:#E74700; padding:1em; border:1px solid #ccc; color:#fff; font-weight:bold; width:80%; margin:1em auto; text-align:center;}
        .error {margin:-1em 0 1em; font-weight:bold; color:#E74700;}
        #submit-anyway {border:none; background:transparent; font-style:italic; cursor:pointer;  text-decoration: underline;}
        #submit-anyway:hover, #submit-anyway:focus {color:#83AA30;}
        
	#lr-sign-in input {margin-bottom:1em; width:90%; font-weight:normal; }
	#lr-sign-in input[type=submit] { background: #1499D3;padding: 8px;color: #fff;font-weight: bold;border-radius: 8px; border:none; border-right:2px solid #4D6684; border-bottom: 2px solid #4D6684;}
	#lr-sign-in input[type=submit]:hover, input[type=submit]:focus {background:#4D6684;}
 #format-nav {text-align: center;}
   #type-filter li {margin-bottom:4px; font-size:.7em;}
 #type-filter li.active {font-weight:bold; font-size:120%;}
  #all-formats {display:block;}
  .format-links {display:inline-block; list-style-type:none; border:1px solid #ccc; border-radius:4px; background:#F5F5F5; margin:0 .5em 1.5em .5em;}
  .format-links:hover, .format-links:focus {background:#fff;}
  .format-links a {display:block; padding:4px;}
  .format-links a:link, .format-links a:visited {color:#000;}
  .format-links a:hover, .format-links a:focus {color:#E74700;}
  #format-nav .current {font-weight:bold; font-size:.8em;}
  #loader {position: fixed; top:50%; left:50%; margin-top:-32px; margin-left:-32px; width:64px; height:64px;}
  .current-issue {background:#f5f5f5; padding:2em;}
  .current-issue ul {margin-left:2em;}
.problem-description p {margin-bottom:10px;}
table.patFunc {border-collapse: collapse;}
.patFuncHeaders {font-weight:bold; color:#000 !important;text-align:left; font-size:110%; background:#fff;}
.patFuncHeaders a {display:block; }
.patFuncHeaders a::after {content: ' \2193';}
.patFuncEntry {background: #F5F5F5; border-top: 1px solid #ccc;}
.patFuncFinesEntryTitle {background:#F5F5F5; font-size:1.4em; border-bottom:2px solid #ccc;}
.patFuncFinesEntryDetail td {border-bottom:none;}
.lr-button, .lr-button:active {display: inline-block; background: #f5f5f5; transition-duration: 0.2s; border:1px solid #ccc; color:#000 !important; font-size:0.9em; font-weight:bold; padding: 4px 8px; border-radius: 4px; margin: 0 4px 4px 0; text-decoration: none !important; text-transform: capitalize;box-shadow:2px 2px 5px #ccc;}
.lr-button:hover, .lr-button:focus {background: #ddd !important;}
.lr-button:active {background:#fff; color:#E74700 !important;}
/* college-specific boxes */
/* arc */
#mySched27927 {
background: none;
border: 0px; border-radius: 0px;  font: 14px Arial, Helvetica, Verdana; padding: 8px; cursor: pointer; }
#mySched27927:hover {  opacity: 0.9;}
/* crc */
#crc-info p, #crc-info li, #crc-info h4 {font-size:.9em;}
#crc-info h4 {font-weight:bold;}
#crc-info ul {list-style-type:none;}
#crc-info h3 {margin-top:8px;}
/* flc */
#flc-help #services {margin-top:8px;}
#flc-help .service {margin-bottom:10px;}
#flc-help .service p {margin-left:38px;}
#flc-help .service img {clear:both; float:left; padding:.5em .5em 0 0;}
/* scc */
#scc-help ul {list-style-type:none;}
#scc-help #library-hours thead{position:absolute; left: -90999999px;}
/* footer */
#lr-footer {clear:both; width: 100%; color: #fff;position: absolute; z-index:100; background:#fff; bottom: 20px; margin: 0 auto; font-size:80%;   }
#ft-content-container {display: table; width: 100%;max-width:1100px; margin: 0 auto; /* background: #3d3d3d;  */ padding: 5px; border-top: 2px solid #3d3d3d; /* border-radius: 4px 4px 0 0; */ color:#3d3d3d;}
#col-container {    width:90%;    margin:0 auto;    text-align:center;}
#ft-head {text-align: center;font-size: 1.4em;border-bottom: 1px solid #fff; width: 50%; margin: 0 auto 20px;}
.foot-col {text-align:left;float: left; width: 21%; padding: 0 2% 0 2%;}
#ft-content-container a:link, #ft-content-container a:visited {color: #3d3d3d; text-decoration: underline;}
#ft-content-container a:hover, #ft-content-container a:focus {color:#E74700; text-decoration:none;}
 @media screen and (max-width:1100px) {

 #main {width:75%;  min-height: initial; margin-bottom:10px !important;}
 #pubfinder {right:10px;}
 #trial-dbs { width:70%; margin:0 auto 10px; vertical-align:top;}
 #filters {width:30%; margin:0 auto 10px; margin-top:20px;clear:both; margin-top:0;}
.fourothree {margin-left:-25%; margin-right:50px;}
 #library-help {width:30%; }
 #new-windows {display:inline-block; width:auto;}
#logout button {position:absolute; top:3em; right:1em;}
/* #filters {width:15%; float:right; border:1px solid #ccc; border-radius:4px; padding:8px;} */
aside {float:none !important; margin-left:50px; width:auto !important; display:inline-block; padding:4px;}
    aside:last-of-type {margin-bottom:200px;}
   #patNameAddress {display:table; margin-left:25%;}
    #lr-footer {position:static !important; padding-bottom:20px;}
    #ft-content-container {border-radius:0;}
 }
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     #lr-footer {position:static;margin-bottom:30px;} /* crappy IE fix */
}
 @media screen and (max-width: 780px)
 {
    #head-nav ul {clear:left;}
  h1 {border:none;width:100%; font-size:2em;}

  header {text-align:left;}
  #pubfinder {right:8px; bottom:8px; }
  #main {width:100%; margin:0 auto 100px !important;  float:none;}
  .fourothree {margin-left:initial; margin-right:initial;}
 
aside { float:none !important;}
.gen-aside {margin-left:auto; margin-right:auto;}
  body {margin:0 4px; padding:0;}
   #primary-nav { font-size:.8em; width:100%;}
   #primary-nav li { width:30%;}
   #primary-nav li:last-child {margin-left:2px;}

 
 /*  #filters, #filters.scrolled {position:relative;}
  #main-nav {display:none;}
 .tinynav { display: block; margin-top:-10px;}
  .nav h2 {display:none;} */
  header {padding-bottom:0;}
  #nav {float:none; width:100%; position:static; margin-bottom:10px;}
  #nav-label {background-image:url(icons-36-black.png); background-repeat:no-repeat; padding-left:34px;}
  #dbpage-query, #form-remainder {max-width:240px;}
#main #multi-search {width:100%;}
#auth-help, #lr-sign-in {float:none; width:auto;}
#trial-dbs {display:table-cell;}



  .alpha-nav a{text-align:center;}
  
    aside:last-of-type {margin-bottom:10px;}
 }
   @media screen and (max-width: 560px) {
    .foot-col {float:none;
    width:100%; margin-bottom:20px;}
    #lr-footer {position:static !important;}
    aside:last-of-type {margin-bottom:10px;}
    #ft-head {text-align:left;margin:0 0 10px 0; width:100%;}
    
  }