html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section {margin: 0; padding: 0; border: 0; font-size: 63%;font: inherit; vertical-align: baseline;text-decoration:none;}
body {font-family:"Open Sans", "Helvetica Neue", Verdana, sans-serif; padding:0;  }
em {font-style:italic;}
.hidden {display:none;}
 a {text-decoration:none;}
 strong {font-weight:bold;}
 h1, h2, h3 {font-weight:normal;}
 ol {margin-left:2em; margin-bottom:10px;}
 #skip {position:absolute; left:-99999px;}
 #skip:focus {position:static;}
 header {position:relative; padding:0 0 10px; margin-bottom: 20px; text-align:center; background:#4D6684; color:#fff;}
 #head-nav {
padding:0 2%;
background: #3d3d3d;

}
 #multi-search { text-align:left; float:left;
padding-bottom: 2px;
}
#multi-search label {position:relative; z-index:500;}
#dbpage-query { position:relative; z-index: 500; width:10em; padding:0 8px; border:1px solid #ccc; border-radius:4px; margin-left:1em; height:14px;  -webkit-transition: width .5  s;}
.form-emphasis { height:2em !important; width:18em !important; font-size: 1.2em; transition: width .4s;-webkit-transition: width .4s;}
#form-remainder { position:absolute; z-index:400; left:1em; background: #3d3d3d; margin-top:-1.4em; width:80%; max-width: 500px; padding:3em; border-radius:0 0 8px 8px; -webkit-box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);}

#main #multi-search {margin: 10px auto 0;  width: 80%;  max-width: 500px; border-top:1px solid #ccc; float:none; padding-top:20px;}
#main #form-remainder {background: #fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; position:static;}
#main #form-closer {display:none;}

 #search-options input:checked + label {font-weight:bold;}

#multi-search input[type=submit] {margin-top:8px; padding: 4px; font-size:1em; cursor:pointer; border-radius:4px;  background:#F5F5F5;}
#multi-search input[type=submit]:hover {background:#ccc;}

#radio-intro {font-style:italic; margin-bottom:.5em;}
input[type="radio"] {display:inline-block;}
.search-exp {margin-left:2em; box-shadow: inset 0px 1px 10px -3px #000000; padding:.2em .5em;}
#form-closer {position:absolute; bottom:4px; right:4px; cursor: pointer;}

.ui-menu-item:hover, .ui-state-focus {background:#4D6684; color:#fff;}


#head-nav ul {text-align: right; }
#head-nav ul, .headnav {padding: 4px 0;} /* this gets tricky... */
.headnav {display:inline; border-right:1px solid #ccc;  width:4em; }
.headnav:last-of-type {border:none;}
.headnav a {display:inline-block; width:100%; width:4em; text-align: center;}

 .headnav:hover {background:#4D6684;}
.headnav a:link, .headnav a:visited {color:#fff;}
 h1 { clear:both; font-size:2.1em;  width:50%; padding-bottom:8px; border-bottom: 1px solid #ccc; margin:0 auto;}
 #tagline {font-size:1.5em;}
 #title-query {display:block; font-size:.8em;}
 
 #pubfinder {position:absolute; right:50px; bottom:10px;}
 #pubfinder a:link, #pubfinder a:visited {color:#fff; border-bottom:1px solid #fff; font-size:1em; }
 #pubfinder a:hover, #pubfinder a:focus {text-decoration:none;}
 #main { width:50%; margin-left:25%; float:left; padding-right:18px; min-height:500px; margin-bottom:50px; position:relative;}
 h1 a:link, h1 a:visited {color:#fff;}
 #main nav {font-size:1.5em; margin-bottom:10px;}
  #primary-nav { display:inline;}
 #primary-nav li {display:inline;}
.alternative {float:right; font-size:.8em;}
  .active-page a:link, .active-page a:visited {color:#3D3D3D; font-weight:bold;}
 .active-page a:hover, .active-page a:focus {color:#3D3D3D; cursor: default;}
 .alternative a:link, .alternative a:visited {color:#E74700; text-decoration:underline;}
 .alternative a:link, .alternative a:visited {color:#E74700;}

#show-db-no {font-size:.8em; color:#4D6684;}
.no-show {color:#fff !important;}
.category {margin-bottom: 1em;   box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);}
.category:first-of-type{clear:both;}
 .category h2 {font-size:1.4em; text-transform:uppercase; background:#4D6684; color:#fff; padding-left:10px;}
 .category ul {list-style-type:none; padding:10px; background:#f5f5f5; margin-top:0;}

.db-entry {margin-bottom:1.2em; list-style-type:none;}
.open-db-search, .search-one-db {float:right;}
.open-db-search, .search-btn {border:none; background:transparent; cursor: pointer;}
.search-one-db {clear:both; display:none;}
.search-one-db-l {position:absolute; left:-99999px;}


.db-name {font-family:Georgia, Palatino, serif; font-weight:bold; font-size:1em;}

.vendor {font-weight:normal; font-size:.9em;}
#main .trial .vendor::after {content:"trial"; font-size:.9em; background:#83AA30;  margin-left:1em; padding:1px 6px; color:#fff; font-weight:bold;}
.db-desc {font-size:.8em;}
 .db-name:link, .db-name:visited, #library-help-content a:link, #library-help-content a:visited {color:#1499D3;}
.db-name:hover, .db-name:focus,  #library-help-content a:hover, #library-help-content a:focus {color:#E74700;}
.internal-links { font-size:.8em; margin-top:1em;}
.internal-links dt {font-weight:bold; color:#3d3d3d;}
.categories, .formats, .desc-category, .desc-format, .cat-list, .format-list {display:inline;}
.categories, .formats {padding:0 !important;}
.db-cat, .db-format {display:inline-block; padding: 0 .5em 0 .5em; border-right:1px solid #ccc; }
.db-format:last-of-type, .last-dd {border:none;} /* there is a javascript that completes this... */
.db-cat a:focus, .db-cat a:hover, .db-format a:focus, .db-format a:hover {text-decoration:underline;}
 .desc-category:link, .desc-category:visited, .desc-format:link, .desc-format:visited {color:#83AA30;}
.format-list::before { content:"\A"; white-space:pre; }
  #general .internal-links {display:none;} /* to keep initial view more tidy */

 #nav {position:absolute; left:50px; width:16%; margin-right:15px; background:#f5f5f5; border:1px solid #e3e3e3; border-radius:4px;}

  #main-nav {padding:0; margin-bottom:0;}
    #main-nav li {color:#4D6684; list-style-type:none; border-bottom:1px solid #ccc; }
    #main-nav li:first-of-type {padding-top:10px;}
  #main-nav li:last-of-type {border-bottom:none;}
  #main-nav a {display:block; width:90%; padding-left:10%; font-size:1em; line-height: 1.6em;}
  #main-nav a:link, #main-nav a:visited {color:#4D6684;}
  #main-nav a:hover, #main-nav a:focus, .current {color:#fff !important; background: #1499D3;}
    #nav-label {padding:2px 0 2px 10px; font-size:1.5em; line-height:30px; cursor:pointer;}

 .alpha-nav {text-transform:uppercase;}
 /*.top-pick {border:1px solid #ccc; margin-bottom:4px; border-radius:4px;}
 #general .top-pick {border:none;} */
 #subject-all {display:block;}

#nav.fixed {position:fixed;}
/* #filters.scrolled {position:fixed;right:0;} */
#show-all {background:#1499D3; padding:8px; color: #fff; font-weight:bold; border-radius:8px; display:inline-block; }
#show-all:hover, #show-all:focus {background:#4D6684; }


 #filters, #new-windows, #library-help, #trial-dbs {width:15%; float:right; padding:0 0 8px 0; margin-right:50px;}
 #trial-dbs ul {padding-left:8px;}
 #new-windows {font-size:.8em;}
 #filters, #library-help, #trial-dbs { border:1px solid #ccc; border-radius:4px; margin-bottom:8px;}
 aside h2, aside h3 {font-weight:bold;}
 aside h2 {background:#F5F5F5; border-bottom:1px solid #ccc; padding-left:1em; margin-bottom:10px;}
 #library-help-content {padding-left:1em; font-size: .9em;}
 #library-help hr, #library-help-content hr { border: 0; height: 1px; margin:1em 0 1em 0; background: #ccc;}
 #library-help-content hr {margin-left:-1em;}
 #library-hours {width:90%; margin:8px auto;}
 #choose-library {text-align: center;}
 #choose-library button {background:#4D6684; border:none; color:#fff; font-weight:bold; padding:4px; border-radius:4px;}
 #choose-library button:hover {cursor: pointer; text-decoration: underline;}
 
 
 #format-nav {text-align: center;}
   #type-filter li {margin-bottom:4px; font-size:.7em;}
 #type-filter li.active {font-weight:bold; font-size:120%;}
  #all-formats {display:block;}
  .format-links {display:inline-block; list-style-type:none; border:1px solid #ccc; border-radius:4px; background:#F5F5F5; margin:0 .5em 1.5em .5em;}
  .format-links:hover, .format-links:focus {background:#fff;}
  .format-links a {display:block; padding:4px;}
  .format-links a:link, .format-links a:visited {color:#000;}
  .format-links a:hover, .format-links a:focus {color:#E74700;}
  #format-nav .current {font-weight:bold; font-size:.8em;}
  #loader {position: fixed; top:50%; left:50%; margin-top:-32px; margin-left:-32px; width:64px; height:64px;}
.problem-description p {margin-bottom:10px;}

 @media screen and (max-width:1100px) {
/* #filters, #filters.scrolled {

  position: fixed;
  bottom: 0;
padding:0;
width:100%;
  background: #fff;
  
 } */
 #main {width:75%;}
 #pubfinder {right:10px;}
 #filters {width:30%; margin:0 auto 10px; margin-top:20px;clear:both; margin-top:0;}

 #library-help {width:30%; }
 #new-windows {text-align:right; width:80%; margin:0 auto;}

/* #filters {width:15%; float:right; border:1px solid #ccc; border-radius:4px; padding:8px;} */
 
 @media screen and (max-width: 780px)
 {
    #head-nav ul {clear:left;}
  h1 {border:none;width:100%; font-size:2em;}

  header {text-align:left;}
  #pubfinder {right:8px; bottom:8px; }
  #main {width:100%; margin:0 auto 100px;  float:none;}
  
 
#filters, #new-windows, #library-help, #trial-dbs {width:90%; float:none;}
#library-help, #trial-dbs {margin-left:auto; margin-right:auto;}
  body {margin:0 4px; padding:0;}
   #primary-nav { font-size:1em;}
   #primary-nav li {display: block;}

 .alternative {float:none; font-size:.8em; text-align: right;}
 /*  #filters, #filters.scrolled {position:relative;}
  #main-nav {display:none;}
 .tinynav { display: block; margin-top:-10px;}
  .nav h2 {display:none;} */
  header {padding-bottom:0;}
  #nav {float:none; width:100%; position:static;}
  #nav-label {background-image:url(icons-36-black.png); background-repeat:no-repeat; padding-left:34px;}
  #dbpage-query, #form-remainder {max-width:240px;}
#main #multi-search {width:100%;}




  .alpha-nav a{text-align:center;}
 }